.banner {
  position: relative;
  width: 100%;
  margin-top: -90px;
  height: 104vh;
  /* Ocupa toda a tela */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  color: white;
  background: linear-gradient(to right, rgba(2, 5, 14, 0.87) 20%, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0) 100%);
  padding-left: 4rem;
  /* Dá um espaçamento na esquerda */
}

.videoBackground {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.content {
  position: relative;
  z-index: 1;
  max-width: 50%;
}

/* Conectar e transformar */
.content h2 {
  display: inline-block;
  white-space: nowrap;
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom:10px;
  color: rgb(174, 215, 236);
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  animation: blinkCursor 1s steps(25) infinite normal,
    typing 2.5s steps(25) 1s normal both;
  white-space: nowrap;
  overflow: hidden;
}

.content h3 {
  font-size: 3rem;
  font-weight: bolder;

  &>strong {
    color: var(--azul-paq);
  }
}

.content p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-top: 1rem;
  color: rgba(255, 255, 255, 0.808);
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 25ch;
  }
}

@keyframes blinkCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }

  to {
    border-right-color: transparent;
  }
}