.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 4em;
  padding-bottom: 3em;
  transition: all 0.5s ease-in-out;
  clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 100%);
}

.container>h2 {
  color: #fff;
  font-family: "PP Formula Condensed";
  font-size: 3em;
}

.bgAzul {
  background-color: var(--azul-paq);
}

.bgLaranja {
  background-color: #FF9A3E;
}

.bgVerde {
  background-color: #52b069;
}

.ComoPossoApoiarTitulo {
  color: white;
  text-align: center;
  font-family: "PP Formula Condensed";
  font-size: 2em;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

.ComoPossoApoiarTexto {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: bolder;
  line-height: 28px;
  /* 116.667% */
  letter-spacing: -0.24px;
}

.apoioFinanceiro {
  width: 850px;
  background-color: #e2e4eb;
  margin: 20px 0;
  font-size: 1rem;
  font-weight: bolder;
  color: rgb(7, 6, 14);
  border-radius: 20px;
  padding: 30px;

}

@media (max-width: 768px) {
  .ComoPossoApoiarTexto {
    font-size: 16px;
    line-height: 28px;
  }

  .apoioFinanceiro {
    width: 100%;
  }
}
